* {
	box-sizing: border-box;
}

html {
	height: 100%;
	font-size: 10px;
}

body {
	font: 400 1.6rem/1.5 "Lato", sans-serif;
	min-height: 100%;
}

.row {
	margin: 0 auto;
	font-size: 0;
	max-width: 1140px;
	width:  90%;
}

.item {
	font-size: 1.6rem;
	display: inline-block;
	width: 30%;
	padding-top: 25%;
	margin: 1.66%;
	position: relative;
	overflow: hidden;
}

.item--wide {
	width: 63.33%;
}

.item a {
	display: inline-block;
	position: absolute;
	top: 0; right: 0;
	left: 0; bottom: 0;
	color: #fff;
}

@media screen and (max-width: 768px) {
	.item {
		width: 96.66%;
		padding-top: 60%;
	}
}

.item__image {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	min-width: 100%;
	min-height: 100%;
}

.item__overlay {
	position: absolute;
	top: 0; right: 0;
	left: 0; bottom: 0;
	background-image: linear-gradient(to top, rgba(0,0,0, .7), rgba(0,0,0, .4) 40%, transparent);
}

.item__date {
	font-size: 32px;
	text-align: center;
	position: absolute;
	font-weight: 700;
	line-height: .8;
	left:  25px;
	top:  25px;
	background: rgba(0,0,0, .3);
	border-radius: 5px;
	padding: 8px;
}